body{
  background-image:url("https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711");
  background-size: cover;
}
nav{
	
box-shadow: 0 8px 32px 0 rgb(204, 0, 255);
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 10px;
}
.navbar-brand{
	color: white;
	margin-left: 38%;
	margin-right: 38%;
	text-align: center;
}
.img{
	size: cover;
	margin-top: 100px;
	padding: 0px;
}
.cardx{
     margin: 100px auto;
     display: flex;

}
.card1{
  margin-left:15%;
}
.card2{
	margin-left:2%;
}
.card3{
	margin-left: 2%;
	margin-right:15%;
	}
.xp{
  color: #fff;
  background-color:#000;
  background:transperent;
}
a{
	margin-left: 28%;
}
