body{
	 background-image:url("https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711");
	 background-size: cover;
	 scroll-behavior: smooth;
}
.xp{
  color: #fff;
  background-color:#000;
  background:transperent;
}
.nav{
	
box-shadow: 0 8px 32px 0 rgb(204, 0, 255);
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 10px;
}
.navbarbrand{
	color: white;
	margin-left: 38%;
	margin-right: 38%;
	text-align: center;
}
p{
	margin: 0px;
	padding: 0px;
}
.cardx{
     margin: 100px auto;
     display: flex;

}
.title:hover{
	color: cyan;
}